.crop {
    float: left;
    margin: .5em 10px .5em 0;
    overflow: visible;

}

body {
    margin: 0;

}

content {
    margin: 0 auto;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.page {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h2 {
    border-bottom: 16px solid;
    border-bottom-color: #6a3d20;
}

.aboutMe {
    font-size: 32px;

    font-family: "Roboto";


}

.txt {
    font-size: 16px;
    font-family: "Roboto";

}

.ul1 {
    list-style-type: none;
    padding-bottom: 30px;
}

li {
    font-size: 32px;
    font-family: "Arial", sans-serif;

    margin-bottom: 10px;
}


.site {
    background-color: #1936748f;
}



.list1 {
   
    font-size: 32px;
    font-family: "Arial", sans-serif;

}

footer {
    padding: 20px;
    background-color: rgb(111,45,10) ;
    margin-top: 20px;

}